@import "tailwindcss";


@theme {
	--color-surface:#f4f3ee;
	--color-onSurface:#000814;
	--color-primary:#e07a5f;
	--color-secondary:#3a86ff;
	--color-footer:#e9ecef;

}

@layer base {
	.light {
		--color-surface:#f4f3ee;
		--color-onSurface:#000814;
		--color-primary:#e07a5f;
		--color-secondary:#3a86ff;
		--color-footer:#e9ecef;
	}
	.dark {
		--color-surface:#231942;
		--color-onSurface:#f1faee;
		--color-primary:#e07a5f;
		--color-secondary:#3a86ff;
		--color-footer:#5e548e;

	}
}