---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<div class="max-w-7xl mx-auto">
		<Navigation />
	</div>
</Layout>
