---
const currentYear = new Date().getFullYear();
---

<footer class="h-40 mt-20 text-center text-sm text-gray-500 bg-footer flex items-center justify-center">
    <p class="text-onSurface/40">© {currentYear} Mohammed Abdul Jawad Vajeeh. All rights reserved.</p>
</footer>
