---
import profileImg from '../assets/profile.jpg';
---

<section class="px-2 md:px-0 mb-10">
	<div class="mt-4 grid grid-cols-1 md:grid-cols-3 gap-4">
		<div class="md:col-span-2 order-2 md:order-1">
			<h1 class="text-center md:text-left text-3xl">Hello 👋, I am Jawad</h1>
			<h3 class="text-center md:text-left font-bold text-primary text-lg md:text-xl">Driven by curiosity. Passionate about building great software.</h3>
			<p class="mt-4 text-xl">I’m a software engineer with a passion for building reliable, scalable systems—across web and mobile. I pick up new technologies fast and love turning complex challenges into elegant solutions that solve real business problems.</p>
			<p class="mt-4 text-xl">I specialize in building modern web and mobile applications using <strong>React</strong>, <strong>React Native</strong>, and <strong>TypeScript</strong>, with a strong focus on performance, maintainability, and developer experience.</p>
		</div>
		<div class="order-1 md:order-2">
			<img loading="lazy" src={profileImg.src} alt="my profile picture" class="w-44 md:w-64 h-auto object-cover rounded-full md:rounded-xl shadow-md mx-auto">
		</div>
	</div>
</section>